<h1>FormGroups in array of FormControl Demo</h1>
<form [formGroup]="demoForm" *ngIf="demoForm">
  <button (click)='addFormGroupToFormArray()'>ADD</button>
    <div *ngFor="let form of demoForm.get('directors').value; index as i">
      <form [formGroup]="form" *ngIf="form">
        <label for="name">Name:</label>
        <input formControlName='name'/>
        <label for="number">Number:</label>
        <input formControlName='number'/>
        <label for="email">Email:</label>
        <input formControlName='email'/>
        <button (click)='removeFormGroupToFormArray(i)'>Remove</button>
      </form>
    </div>
</form>
